{% extends "CoreBundle::coreLayout.html.twig" %}

{% set menu_selected = '7' %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Changement de mot de passe pour {{ user.login }}</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, { 'action': path('_admin_user_password',{'login':user.login}), 'attr' : {'class':'form-horizontal'} } ) }}
                <div class="form-group">
                    {{form_label(form.password,'Nouveau mot de passe', { 'label_attr': { 'class':'col-sm-2 control-label' } } ) }}
                    <div class="col-sm-4"> 
                        {{form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
                        {{form_errors(form.password) }}
                    </div>
                </div>
            {{ form_rest(form) }}
            <div class="form-group" >
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Changer</button>
                    <a href="{{ path('_admin_list_users') }}"><input type="button" class="btn btn-default" name="cancel" value="Cancel" /></a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}